*{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    text-transform: uppercase;
    color: dimgray;
}
form{
    width: 380px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 10px 20px #143539;
    overflow: hidden;
}
.imgcontainer{
    text-align: center;
    margin: 24px 0 12px;
}
.imgcontainer img{
    width: 40%;
    border-radius: 50%;
}
.container{
    padding: 16px;
}
input[type=text], input[type=password]{
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
label[for=username], label[for=password]{
    font-weight: bold;
}
button{
    border: none;
    cursor: pointer;
    margin: 8px 0;
}
.login-btn{
    font-size: 14px;
    font-weight: bold;
    padding: 14px 20px;
    background-image: linear-gradient(to right,#f2eef1,#ada9ad);
    color: #fff;
    transition: 0.3s;
    text-transform: uppercase;
    width: 100%;
}
.login-btn:hover{
    background-image: linear-gradient(to right, #ada9ad,#f2eef1);
}
.cancel-btn{
    color: #fff;
    background-color: #f44336;
    padding: 10px 10px;
    transition: 0.3s;
}
.cancel-btn:hover{
    opacity: 0.8;
}
.container a{
    float: right;
    padding-top: 16px;
    font-size: 15px;
    text-decoration: none;
    color: #666666;
}
.container a:hover{
    color: #f2eef1;
}


/*-----------------Searchparticular---------------------*/
.search-btn{
    font-size: 14px;
    font-weight: bold;
    padding: 14px 30px;
    background-image: linear-gradient(to right,#f2eef1,#ada9ad);
    color: #fff;
    transition: 0.3s;
    text-transform: uppercase;
    width: 100%;
}
.search-btn:hover{
    background-image: linear-gradient(to right, #ada9ad,#f2eef1);
}
.spimgcontainer{
    text-align: center;
    margin: 50px 0 50px;
}
.spimgcontainer img{
    width: 50%;
    border-radius: 70%;
}


/*-----------------SearchallbyBranch----------------------*/
.sall-btn{
    font-size: 14px;
    font-weight: bold;
    padding: 14px 30px;
    background-image: linear-gradient(to right,#f2eef1,#ada9ad);
    color: #fff;
    transition: 0.3s;
    text-transform: uppercase;
    width: 100%;
}
.sall-btn:hover{
    background-image: linear-gradient(to right, #ada9ad,#f2eef1);
}
.sbimagecontainer{
    text-align: center;
    margin: 50px 0 50px;
}
.sbimagecontainer{
    width: 100%;
    border-radius: 70%;
}

/*-----------------Delete----------------------------------*/
.delete-btn{
    font-size: 14px;
    font-weight: bold;
    padding: 14px 30px;
    background-image: linear-gradient(to right,#f2eef1,#ada9ad);
    color: #fff;
    transition: 0.3s;
    text-transform: uppercase;
    width: 100%;
}
.delete-btn:hover{
    background-image: linear-gradient(to right, #ada9ad,#f2eef1);
}
.dimgcontainer{
    text-align: center;
    margin: 50px 0 50px;
}
.dimgcontainer img{
    width: 50%;
    border-radius: 70%;
}
